body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allProducts_container {
  display: flex;
  /* direction: row; */
}

.product {
  direction: column;
}

#product_img {
  width: 100%;
  height: 100%;
}

#single_product_img {
  width: 50%;
  height: 50%;
}

#single_product_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#single_product_subcontainer {
  display: flex;
}

#single_product_textcontainer {
  display: flex;
  flex-direction: column;
}

#quantity {
  padding: 5px;
  width: 35px;
  border: 1px solid #555;
}
